@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(52, 52, 52);
}

header{
    font-size: 50px;
}

nav.menu_nav{
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    background-color: rgba(27, 27, 27, 0.754);
}

nav.menu_nav ul li{
    display: inline-block;
}

nav.menu_nav ul li.btn{
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
}

nav.menu_nav ul li.btn a{
    color: rgb(105, 105, 105);
    text-decoration: none;
}

nav.menu_nav ul li.btn:hover a img{
    transition: 0.3s all;
    transform: scale(1.50);
}

h1.Titre{
    text-align: center;
    font-size: 75px;
    letter-spacing: 2px;
    font-family: 'Ropa Sans', sans-serif;
    padding-top: 200px;
}

h1.Titre2 {
    text-align: center;
    font-size: 75px;
    letter-spacing: 2px;
    font-family: 'Ropa Sans', sans-serif;
}

footer{
    background-color: black;
    margin-top: 5%;    
}

p.picture{
    padding-top: 75px;
    text-align: center;
}

p.copyright{
    color: white;
    padding-left: 50px;
    padding-top:  50px;
    padding-bottom: 50px;
}

#trait{
    background-color: black;
    height: 6px;
    width: 30%;
    margin: 30px auto;
}